/* Ruimte tussen linkjes */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
/*achtergrond linkjes*/
li a {
    display: block;
    width: 150px;
    background-color: #244dd4b0; 
  }
/*header kleur en positie*/
   .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
/*stijl van het bovenste navigatie vlak*/
  .topnav {
  overflow: hidden;
  background-color: #333;
}
/*stijl van de linkjes inde navigatie bar*/
  .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* verander kleur hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
}