/* Ruimte tussen linkjes */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
/*achtergrond linkjes*/
li a {
  display: block;
  width: 150px;
  background-color: #000000; 
}
/*header kleur en positie*/
 .header {
  background-color: #0040ff;
  padding: 20px;
  text-align: center;
}
